@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Jost', sans-serif !important;
}

header {
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.72;
    height: 100%;
}

#nav-bg {
    padding: 0;
    border-bottom: 1px solid white;
}

#pad-lr {
    padding: 0;
}

#logo-name {
    margin-left: 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 700;
    font-size: 18px;
    color: white;
    letter-spacing: 0.16px;
}

#anyid55 {
    border-left: 1px solid white;
}

.link {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1.2rem;
    margin-right: auto;
    padding: 0 !important;
    font-weight: 600;
    font-size: 17px;
    color: white;
}

.social-icons {
    position: absolute;
    margin-right: 0.8rem;
    right: 0;
    top: 5px;
    margin-left: 0.8rem;

}

.social-icons i {
    font-size: 22px;
    color: white;
    margin-left: 0.8rem;
    margin-top: 1.9rem;
    margin-bottom: 1rem;
}

.search {
    border-right: 1px solid white;
    border-left: 1px solid white;
    height: 103px;
}

.search i {
    margin-top: 2.5rem;
    font-size: 22px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    color: white;
}

#contact-content {
    margin-bottom: 0;
    margin-right: auto;
    margin-top: 0.5rem;
}

.contact-info {
    margin-top: 0.5rem;
    margin-left: 1.8rem;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

#header-box {
    margin-top: 12rem;
    margin-right: auto;
    margin-left: 3rem;
}

.greeting-1 {
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.042px;
    text-transform: uppercase;
    color: white;
}

.greeting-cont {
    color: white;
    font-weight: 700;
    font-size: 90px;
    letter-spacing: -0.0288px;
    text-transform: uppercase;
    line-height: 110px;
    margin-top: 3rem;
}

#btn-1 {
    font-size: 16px;
    font-weight: 600;
    color: white;
    letter-spacing: 0.612px;
    border-radius: 0;
    background: #1f5eff !important;
    padding: 20px;
    margin-top: 1.5rem;
    margin-bottom: 12rem;
}

#header-02 {
    background: #0F0D1D;
    height: 100%;
}

.heading-1 {
    font-size: 50px;
    letter-spacing: -0.016px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 7rem;
}

.heading-cont {
    font-size: 17px;
    font-weight: 600;
    color: #726F84;
    letter-spacing: 0.144px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 6rem;
}

.child {
    background: #000000;
    margin-left: 1.5rem;
    margin-top: 2rem;
    padding: 45px !important;
}

.child h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.048px;
    color: #FFFFFF;
    width: 75%;
}

.child span {
    font-size: 12px;
    font-weight: 500;
    letter-spacing: -0.024px;
    color: #8F8DA0;
}

.child img {
    width: 80px;
    margin-left: 9.2rem;
}

.partner {
    margin-top: 10rem;
}

.partner .hr {
    overflow: hidden;
    text-align: center;
    color: white;
    margin: auto;
    font-size: 16px;
    font-weight: 500;
}

.partner .hr:before,
.hr:after {
    background-color: rgba(50, 48, 61, 0.71);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
}

.partner .hr:before {
    right: 0.5em;
    margin-left: -50%;
}

.partner .hr:after {
    left: 0.5em;
    margin-right: -50%;
}

#playButton {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 30px;
    background: #1f5eff;
    color: #FFFFFF;
}

#playButton i {
    font-size: 18px;
}

#imgIcon {
    padding: 15px;
    background: #EBF1FF;
    width: 60px;
    height: 65px;
}

#section2-subPar {
    font-size: 53px;
    font-weight: 600;
    letter-spacing: -0.016px;
    text-transform: uppercase;
}

#section2-child {
    font-size: 15px;
    font-weight: 500;
    color: #726F84;
    line-height: 30px;
    margin-top: 2rem;
}

#section2-child2 {
    font-size: 18px;
    font-weight: 500;
    color: #3C72FC;
}

#section2-parent label {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: -0.28px;
    color: #000000;
    margin: 0.5rem;
}

#progressBar1 {
    margin-top: 4rem;
}

#progressBar2 {
    margin-top: 1.8rem;
}

.progress01 {
    color: #726F84;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    margin-left: 23rem;
}

.progress02 {
    color: #726F84;
    font-size: 14px;
    font-weight: 500;
    text-align: right;
    margin-left: 17rem;
}

#credentials {
    margin-top: 3.5rem;
    position: relative;
}

#contact01 {
    font-size: 18px;
    font-weight: 400;
    color: #726F84;
    margin-left: 0.8rem;
    position: absolute;
    top: 1px;
}

#num {
    font-size: 18px;
    font-weight: 500;
    color: black;
    position: absolute;
    top: 35px;
    left: 69px;
}

#section2-parent {
    margin-left: 4rem;
    height: fit-content;
    margin-top: 8rem;
    margin-right: auto;
}

#section2-parent1 {
    margin-left: auto;
    margin-right: 15rem;
    margin-top: 11rem;
    height: fit-content;
}

#mainBox {
    margin-top: 3rem;
    position: relative;
    top: 95px;
}

#box01 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    height: fit-content;
    background: #EBF1FF;
}

#h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #3C72FC;
}

#box02 {
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    padding-top: 15px;
    padding-bottom: 15px;
    height: fit-content;
    background: #EBF1FF;
}

#h02 {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    color: #3C72FC;
}

#profAdvice {
    height: fit-content;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.16);
}

#trustProf {
    padding: 1rem;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.16);
}

.child-01 {
    font-size: 18px;
    font-weight: 600;
    color: #0F0D1D;
}

.child-02 {
    font-size: 15px;
    font-weight: 500;
    color: #726F84;
}

#cont01 {
    margin-top: 2.5rem;
    margin-left: 0.8rem;
    height: fit-content;
}

#cont02 {
    margin-top: 2.5rem;
    margin-left: 0.8rem;
    height: fit-content;
}

.bg-01 {
    background: #F2F4F8;
}

#sec03-head1 {
    text-align: center;
    font-size: 50px;
    font-weight: 600;
    margin-top: 18rem;
    width: 100%;
}

#sec03-head2 {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    color: #8F8DA0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
}

#sec03-Parent2 {
    background: rgba(15, 13, 29, 0.42);
    height: 450px;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding-left: 0;
    padding-right: 50px;
    cursor: context-menu;
}

#sec03-Parent3 {
    background: rgba(15, 13, 29, 0.42);
    height: 450px;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding-left: 0;
    padding-right: 50px;
    cursor: context-menu;
}

#sec03-Parent4 {
    background: rgba(15, 13, 29, 0.42);
    height: 450px;
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    padding-left: 0;
    padding-right: 50px;
    cursor: context-menu;
}

#sec03-subpar1 {
    background: transparent;
    padding-left: 55px;
    margin-right: auto;
    height: 300px;
    margin-top: 9.3rem;
}

#sec03-subpar2 {
    background: transparent;
    padding-left: 55px;
    margin-right: auto;
    height: 300px;
    margin-top: 9.3rem;
}

#sec03-subpar3 {
    background: transparent;
    padding-left: 55px;
    margin-right: auto;
    height: 300px;
    margin-top: 9.3rem;
}

#sec03-subpar1:hover {
    background: #3C72FC;
    padding-left: 65px;
    transition: all linear 0.8s;
}

#sec03-subpar2:hover {
    background: #3C72FC;
    padding-left: 65px;
    transition: all linear 0.8s;
}

#sec03-subpar3:hover {
    background: #3C72FC;
    padding-left: 65px;
    transition: all linear 0.8s;
}

#sec03-subpar1 img {
    margin-top: 4.5rem;
    width: 60px;
}

#sec03-subpar2 img {
    margin-top: 4.5rem;
    width: 60px;
}

#sec03-subpar3 img {
    margin-top: 4.5rem;
    width: 60px;
}

.heading-01 {
    margin-top: 1.5rem;
    font-size: 14px;
    font-weight: 600;
    color: #FFFFFF;
}

.heading-02 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 30px;
    font-weight: 600;
    line-height: 35px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.bg-02 {
    background: rgba(15, 13, 29, 0.75);
    height: 100%;
    padding: 70px;
}

#sec03-head {
    font-size: 60px;
    font-weight: 600;
    letter-spacing: -0.0192px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}

#sec03-btn {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    padding: 18px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border-radius: 0;
    letter-spacing: 0.612px;
    background: #1f5eff;
    margin-top: 2rem;
}

#sec04-head1 {
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-top: 6rem;
    width: 100%;
}

#sec04-head2 {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    color: #8F8DA0;
    margin-top: 1rem;
    width: 100%;
}

#slider-1 {
    background: #F2F4F8;
    padding: 25px;
}

#slider-2 {
    background: #F2F4F8;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    height: fit-content;
    display: none;
}

#slider-3 {
    background: #F2F4F8;
    padding: 25px;
    margin-top: 1.5rem;
}

#slider-4 {
    background: #F2F4F8;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    height: fit-content;
    display: none;
}

#slider-5 {
    background: #F2F4F8;
    padding: 25px;
    margin-top: 1.5rem;
}

#slider-6 {
    background: #F2F4F8;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    height: fit-content;
    display: none;
}

#slider-7 {
    background: #F2F4F8;
    padding: 25px;
    margin-top: 1.5rem;
}

#slider-8 {
    background: #F2F4F8;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    height: fit-content;
    display: none;
}

.slide-tag {
    color: #3C72FC;
    font-size: 18px;
    font-weight: 600;
}

.slide-header {
    font-size: 16px;
    font-weight: 600;
    margin-left: 0.2rem;
}

.slider-content {
    font-size: 16px;
    font-weight: 500;
    color: #726F84;
}

#slide {
    height: fit-content;
    margin-bottom: 4rem;
    margin-top: 6rem;
    margin-left: 5rem;
}

#checkList {
    height: fit-content;
}

#info {
    height: fit-content;
}

.plusIcon {
    color: #3C72FC;
}

#expandIcon {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

#expandIcon2 {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

#expandIcon3 {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

#expandIcon4 {
    position: absolute;
    right: 15px;
    cursor: pointer;
}

.list-content {
    color: #726F84;
    font-size: 16px;
    font-weight: 400;
    margin-left: 0.4rem;
}

#list-1 {
    margin-top: 17.7rem;
}

#list-2 {
    margin-top: 1.2rem;
}

#list-3 {
    margin-top: 1.2rem;
}

#list-4 {
    margin-top: 1.2rem;
}

#list-5 {
    margin-top: 1.2rem;
    margin-bottom: 6rem;
}

#info {
    background: #3C72FC;
    padding: 25px;
    margin-left: 6rem;
    margin-top: 19rem;
    margin-bottom: 6rem;
}

#year {
    font-size: 60px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

#expTotal {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
}

.backgroundChange {
    background: #FFFFFF !important;
    box-shadow: 0px 0px 30px rgba(0, 0, 30, 0.06);
}

.fa-minus {
    color: #707070 !important;
}

#bg-03 {
    background: #F2F4F8;
    height: 100%;
    padding: 2rem;
}

#section4-head {
    margin-top: 5rem;
    margin-bottom: 4rem;
    height: fit-content;
}

#sec4Head {
    font-size: 50px;
    font-weight: 600;
    color: #0F0D1D;
}

#sec4Head2 {
    font-size: 18px;
    font-weight: 500;
    color: #726F84;
    margin-top: 1.3rem;
}

#leftArrow i {
    margin-top: 1.8rem;
    padding: 12px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
}

#rightArrow i {
    margin-top: 1.8rem;
    padding: 12px;
    background: #ffffff;
    border-radius: 50%;
    margin-left: 0.5rem;
    cursor: pointer;
}

.sec4Review {
    padding: 45px !important;
    margin-top: 5rem;
    margin-bottom: 4rem;
    background: #FFFFFF;
    box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.12);
    height: fit-content;
    margin-left: 20px;
}

.reviewCont {
    font-size: 18px;
    color: #726F84;
    font-weight: 500;
}

.customer {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    color: #3C72FC;
    margin-bottom: 0 !important;
}

.type {
    font-size: 12px;
    font-weight: 500;
    color: #726F84;
    margin-top: 0.5rem !important;
    text-transform: uppercase;
}

#section04 .sec4Review {
    display: none;
}

#section04 .sec4Review.current {
    display: inline-block;
}

#bg-04 {
    background: rgba(7, 18, 45, 0.98);
    height: 100%;
}

#section-05 img {
    background: #06050C;
    padding: 30px !important;
    width: 105px;
    height: 105px;
}

.sec05-content {
    font-size: 30px;
    font-weight: 600;
    color: #FFFFFF;
    margin-top: 0.5rem;
}

.sec05-cont2 {
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
    margin-top: 1.5rem;
}

#section05-header {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-right: 1px solid rgba(112, 112, 112, 0.7);
    height: fit-content;
    margin-top: 5rem;
    margin-bottom: 15rem;
}

#section05-header1 {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-right: 1px solid rgba(112, 112, 112, 0.7);
    height: fit-content;
    margin-top: 5rem;
    margin-bottom: 15rem;
}

#section05-header2 {
    padding-left: 15px !important;
    padding-right: 15px !important;
    border-right: 1px solid rgba(112, 112, 112, 0.7);
    height: fit-content;
    margin-top: 5rem;
    margin-bottom: 15rem;
}

#section05-header3 {
    padding-left: 15px !important;
    padding-right: 15px !important;
    height: fit-content;
    margin-top: 5rem;
    margin-bottom: 15rem;
}

#section-6 {
    position: relative;
    bottom: 65px;
}

.section06-header {
    background: #F2F4F8;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.16);
    padding: 40px !important;
    text-align: center;
    height: fit-content;
    cursor: pointer;
}

.section06-head {
    font-size: 20px;
    font-weight: 600;
    margin-top: 0.8rem;
    text-transform: uppercase;
    color: #0F0D1D;
}

.sec06SubParent img {
    background: #EBF1FF;
    padding: 13px;
}

.subChild01 {
    font-size: 20px;
    font-weight: 600;
    color: #0F0D1D;
}

.subChild02 {
    font-size: 16px;
    font-weight: 500;
    color: #726F84;
    margin-top: 1rem;
}

#extraMargin {
    padding: 10px;
}

#extraMargin2 {
    margin-top: 2rem;
}

#extraMargin4 {
    padding: 10px;
}

#extraMargin5 {
    margin-top: 2rem;
}

#extraMargin7 {
    padding: 10px;
}

#extraMargin8 {
    margin-top: 2rem;
}

#extraMargin6 {
    margin-top: 2rem;
}

#extraMargin9 {
    margin-top: 2rem;
}

#sec06Parent2 {
    height: fit-content;
    margin-right: auto;
    margin-left: 6rem;
    display: inherit;
}

#sec06Parent003 {
    height: fit-content;
    margin-left: auto;
    display: none;
}

#section06-Parent003 {
    padding-left: 50px;
    padding-right: 95px;
    margin-right: auto;
    height: fit-content;
    display: none;
    border-left: 1px solid #E6E9EF;
}

#sec06Parent4 {
    height: fit-content;
    margin-left: auto;
    display: none;
}

#section06-Parent4 {
    padding-left: 50px;
    padding-right: 95px;
    height: fit-content;
    border-left: 1px solid #E6E9EF;
    display: none;
}

#section06-Parent2 {
    padding-left: 50px;
    padding-right: 95px;
    margin-right: 16rem;
    height: fit-content;
    border-left: 1px solid #E6E9EF;
    display: block;
}

#Sec06-headText {
    font-size: 16px;
    font-weight: 500;
    color: #726F84;
}

#Sec06-headText2 {
    font-size: 16px;
    font-weight: 500;
    color: #726F84;
}

#Sec06-headText3 {
    font-size: 16px;
    font-weight: 500;
    color: #726F84;
}

.parent3Content {
    font-size: 16px;
    font-weight: 500;
    color: #726F84;
}

#extraMargin3 {
    margin-top: 2rem;
}

#sec06Parent03 {
    margin-top: 4.6rem;
}

#sec06Parent04 {
    margin-top: 4.6rem;
}

#sec06Parent5 {
    margin-top: 4.6rem;
}

#sec06Parent3 span {
    margin-left: 0.5rem;
}

.colorChange {
    color: #22B0FE !important;
}

#section06-Parent {
    margin-top: 2rem;
    margin-bottom: 2.5rem;
}

.section06-header2 {
    background: #FFFFFF;
}

.fontColor {
    color: #3C72FC;
}

#bg-001 {
    background: #0F0D1D;
}

#logoHead {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 600;
}

#tagLine {
    font-size: 16px;
    font-weight: 500;
    color: #8F8DA0;
    margin-top: 2.5rem;
}

#nameBox {
    padding-bottom: 18px;
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.14);
}

.credentials01 {
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #8F8DA0;
    margin-left: 0.8rem;
    margin-top: 1rem;
}

.footerHeading {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

#subMenu p {
    font-size: 16px;
    font-weight: 600;
    color: #8F8DA0;
    margin-top: 1.5rem;
}

#subMenu2 p {
    font-size: 16px;
    font-weight: 600;
    color: #8F8DA0;
    margin-top: 1.5rem;
}

#newsInput p {
    font-size: 18px;
    font-weight: 600;
    color: #8F8DA0;
}

#companyDetails {
    margin-top: 7.5rem;
    padding: 70px;
    height: fit-content;
}

#subMenu {
    margin-top: 7.5rem;
    padding: 70px;
    height: fit-content;
}

#subMenu2 {
    margin-top: 11.8rem;
    padding: 50px;
    height: fit-content;
}

#newsLetter {
    margin-top: 9rem;
    padding: 47px;
    height: fit-content;
}

#newsInput {
    background: #06050C;
    padding: 35px;
}

#inpt-1 {
    padding: 28px;
    border-radius: 0;
}

#footer-01 p {
    font-size: 16px;
    font-weight: 600;
    color: #8F8DA0;
}

#footer-02 {
    text-align: right;
    margin-left: auto;
}

#footer-02 a {
    color: white;
    font-size: 28px;
    margin-left: 1.5rem;
}

#copyRightSec {
    margin-top: 3rem;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 35px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
}

#slider-001 {
    margin-right: 2rem;
    margin-left: 2.5rem;
}

#pic-01 {
    opacity: 0.5;
}

#pic-02 {
    opacity: 0.5;
}

#pic-03 {
    opacity: 0.5;
}

.navbar-toggler span {
    display: block;
    background-color: #ffffff;
    height: 4px;
    width: 28px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    border-radius: 2px;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
    transition: all 0.4s;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
    transition: all 0.4s;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
    transition: all 0.4s;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 1%) rotate(-45deg);
    transition: all 0.4s;
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
    transition: all 0.4s;
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
    transition: all 0.4s;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
    transition: all 0.4s;
}